@font-face {
  font-family: "Editorial New Regular";
  src: url("./font/editorial_new_regular_400-webfont.woff") format("woff2"),
    url("./font/editorial_new_regular_400-webfont.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Tex Gyre Heros Regular";
  src: url("./font/texgyreheros-regular-webfont.woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --body-border: 10px;
}

* {
  cursor: none;
}

body,
html {
  height: 100vh;
  box-sizing: border-box;
  background-color: #fff;
}

/* navigatin */
.navbar {
  overflow: hidden;
  position: fixed;
  display: flex;
  width: 100%;
  left: 0;
  top: 0;
  justify-content: space-between;
  font-family: "Editorial New Regular";
  border-bottom: 2px solid transparent;
  transition: border 0.6s ease;
  background-color: white;
  height: 2.2rem;
  color: black;
  z-index: 100;
}

.navbar > h1,
h3 {
  margin: 0 10px;
}

nav > h1,
h2,
h3 {
  margin: 0px;
  color: black;
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: 100;
}

/* Big btns */
.bigbtns {
  padding-top: 2.2rem;
  min-height: calc(100vh - 3.25rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bigbtns > button {
  width: 100%;
  height: 28rem;
  max-height: 28rem;
  border-radius: 28rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Tex Gyre Heros Regular";
  font-size: 10rem;
  border: none;
  background-color: cadetblue;
}

.bigbtns > button:nth-child(even) {
  margin: 1rem 0;
}

/* work */

.list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.list-item {
  position: sticky;
  margin: 0 0 -8rem;
  padding-bottom: 8rem;
  background-color: white;
}

.list-content {
  display: grid;
  align-items: flex-start;
  grid-template-columns: 3fr 12fr 5fr;
  gap: 0.2rem;
  height: 4.5rem;
  font-size: 3.1rem;
  border-top: 2px solid black;
  text-align: left;
  transition: 0.5s height, 0.5s margin-top, 0.5s margin-bottom,
    0.2s border-top-color;
  overflow: hidden;
  padding: 0.4rem 0.2rem 0;
  font-family: "Tex Gyre Heros Regular";
  width: 100%;
  background-color: #fff;
}

.list-content > span {
  font-size: inherit;
  padding-bottom: 0;
}

.list-content > h2 {
  font-size: inherit;
  padding-bottom: 0;
}

.list-content > h3 {
  font-size: inherit;
  text-align: right;
  padding-bottom: 0;
  width: 100%;
}

.list-content:hover {
  margin-top: -1.6rem;
  height: 5.6rem;
  transition: height 0.1s, margin-top 0.1s;
}

/* Cursor */
#trailer {
  height: clamp(1.2rem, 3vw, 3rem);
  width: clamp(1.2rem, 3vw, 3rem);
  border-radius: 100%;
  background-color: #fff;
  position: absolute;
  z-index: 999999;
  pointer-events: none;
  opacity: 0;
  transform: opacity 500ms ease;
  top: var(--y, 0);
  left: var(--x, 0);
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
}

body:hover > #trailer {
  opacity: 1;
}

/* Util */
.border-bottom {
  border-bottom: black 2px solid;
  transition: border 0.6s ease;
}

a {
  color: inherit;
}

p {
  margin: 0px;
}
